Integration_Framework/ABC_Bank_Integration/Node-Red_Based_Integration/node-red-flow.txt
[{"id":"15a09e95.279c11","type":"http request","z":"c374ab70.ebebd8","name":"","method":"POST","ret":"bin","url":"http://localhost:8080/account","tls":"","x":310,"y":20,"wires":[["d5d5c6d6.7611f8"]]},{"id":"750fb8a6.ad49f8","type":"ui_template","z":"c374ab70.ebebd8","group":"9f0e20b4.e1c72","name":"Account Summary","order":0,"width":"6","height":"5","format":"<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n<div layout=\"row\" layout-align=\"center\">\n<table>\n  <tr><td>Account Type</td><td>Account Number</td><td>Balance Amount</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.List\">\n      <td>{{ obj.accountType}}</td>\n    <td>{{ obj.accountNumber}}</td>\n    <td>{{ obj.balanceAmount }}</td>\n        \n  </tr>\n    <tr><td>Total</td> <td>  </td><td ng-bind-html=\"msg.total\"></td> </tr>\n\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":530,"y":40,"wires":[[]]},{"id":"6c9ed2.bbfe013","type":"ui_template","z":"c374ab70.ebebd8","group":"8b164dc4.eb009","name":"Account Statement","order":0,"width":"6","height":"5","format":"<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n<div layout=\"row\" layout-align=\"center\">\n<table>\n\n  <td>Transaction Id</td>\n  <td>Transaction Amount</td>\n  \n  <td>Transaction Date</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.List\">\n      \n    <td>{{ obj.transactionId}}</td>\n    <td>{{ obj.transactionAmount }}</td>\n    \n    <td>{{obj.date}}</td>\n        \n  </tr>\n    \n\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":570,"y":180,"wires":[[]]},{"id":"fcb1c19c.acfd4","type":"inject","z":"c374ab70.ebebd8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["15a09e95.279c11","5bea8ed.dd2f17","996f276.52fa9d8"]]},{"id":"d5d5c6d6.7611f8","type":"debug","z":"c374ab70.ebebd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":120,"wires":[]},{"id":"5bea8ed.dd2f17","type":"function","z":"c374ab70.ebebd8","name":"Account","func":"msg = {\n  \"List\": [\n    {\n      \"accountNumber\": 10001,\n      \"balanceAmount\": 400,\n      \"accountType\" : \"Saving Account\"\n    },\n    {\n      \"accountNumber\": 10098,\n      \"balanceAmount\": 200,\n      \"accountType\" : \"Saving Account\"\n    },\n    {\n      \"accountNumber\": 12346,\n      \"balanceAmount\": 200,\n      \"accountType\" : \"Current Account\"\n    }\n  ],\n  \"total\" :\"800\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":100,"wires":[["d5d5c6d6.7611f8","750fb8a6.ad49f8","38da00cb.3635f"]]},{"id":"996f276.52fa9d8","type":"function","z":"c374ab70.ebebd8","name":"transaction","func":"msg = {\n  \"List\": [\n    {\n      \"accountNumber\": 10001,\n      \"transactionId\": 1233121341,\n      \"transactionAmount\": 100,\n      \"balanceAmount\": 400,\n      \"date\" :  \"22/03/2018\"\n    },\n    {\n      \"accountNumber\": 10001,\n      \"transactionId\": 1232222411,\n      \"transactionAmount\": 100,\n      \"balanceAmount\": 400,\n      \"date\" :  \"22/03/2018\"\n    },\n    {\n      \"accountNumber\": 10001,\n      \"transactionId\": 123382211,\n      \"transactionAmount\": 1200,\n      \"balanceAmount\": 400,\n      \"date\" :  \"21/07/2018\"\n    }\n  ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["d5d5c6d6.7611f8","6c9ed2.bbfe013","cdcd3720.ce48f8"]]},{"id":"38da00cb.3635f","type":"ui_template","z":"c374ab70.ebebd8","group":"9f1eae4.966805","name":"Account Summary 2","order":0,"width":"6","height":"5","format":"<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style>\n<div layout=\"row\" layout-align=\"center\">\n<table>\n  <tr><td>Account Type</td><td>Account Number</td><td>Balance Amount</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.List\">\n      <td>{{ obj.accountType}}</td>\n    <td>{{ obj.accountNumber}}</td>\n    <td>{{ obj.balanceAmount }}</td>\n        \n  </tr>\n    <tr><td>Total</td> <td>  </td><td ng-bind-html=\"msg.total\"></td> </tr>\n\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":80,"wires":[[]]},{"id":"cdcd3720.ce48f8","type":"ui_template","z":"c374ab70.ebebd8","group":"5aab498b.8670a8","name":"Account Statement 2","order":0,"width":"6","height":"5","format":"<style>\ntable {\n    font-family: arial, sans-serif;\n    border-collapse: collapse;\n    width: 100%;\n}\n\ntd, th {\n    border: 1px solid #dddddd;\n    text-align: left;\n    padding: 8px;\n}\n\ntr:nth-child(even) {\n    background-color: #dddddd;\n}\n</style><div layout=\"row\" layout-align=\"center\">\n<table>\n  <tr><td>Account Number</td>\n  <td>Transaction Id</td>\n  <td>Transaction Amount</td>\n  <td>Balance Amount</td>\n  </tr>\n  <tr ng-repeat=\"obj in msg.List\">\n      <td>{{ obj.accountNumber}}</td>\n    <td>{{ obj.transactionId}}</td>\n    <td>{{ obj.transactionAmount }}</td>\n    <td>{{ obj.balanceAmount }}</td>\n        \n  </tr>\n    \n\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":560,"y":240,"wires":[[]]},{"id":"6d0f97d4.0da2e8","type":"ui_template","z":"c374ab70.ebebd8","group":"29cc5bc8.8c1034","name":"Service Request","order":0,"width":"6","height":"5","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":500,"y":280,"wires":[[]]},{"id":"9f0e20b4.e1c72","type":"ui_group","z":"","name":"Account Summary","tab":"1064d515.ca67bb","order":1,"disp":true,"width":"6","collapse":false},{"id":"8b164dc4.eb009","type":"ui_group","z":"","name":"Account : 10001","tab":"1064d515.ca67bb","order":2,"disp":true,"width":"6","collapse":false},{"id":"9f1eae4.966805","type":"ui_group","z":"","name":"Account","tab":"9ca9c436.3f7528","order":1,"disp":true,"width":"6","collapse":false},{"id":"5aab498b.8670a8","type":"ui_group","z":"","name":"Transaction","tab":"bcc77218.cc998","order":1,"disp":true,"width":"6","collapse":false},{"id":"29cc5bc8.8c1034","type":"ui_group","z":"","name":"Service Request","tab":"ff15f4c7.79ffe8","order":1,"disp":true,"width":"6","collapse":false},{"id":"1064d515.ca67bb","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1},{"id":"9ca9c436.3f7528","type":"ui_tab","z":"","name":"Account","icon":"dashboard","order":2},{"id":"bcc77218.cc998","type":"ui_tab","z":"","name":"Transaction","icon":"dashboard","order":3},{"id":"ff15f4c7.79ffe8","type":"ui_tab","z":"","name":"Service Request","icon":"dashboard","order":4}]